* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border: none;
    gap: 400px;
}
.list{
    display: flex;
    gap: 50px;
    padding-left: 50px;
    list-style-type: none;
    text-decoration: none;
    
}
li > a{
    font-size:x-large;
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
.logo {
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #333;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

.banner{
    position: relative;
    width: 100%;
    height: 600px;
    min-height: 600px;
    overflow: hidden;
}

.footer {
    color: #000000;
    background-color: #151515;
    padding: 80px 15px;
    margin: 0 auto;
}

.f-row {
    display: flex;
    justify-content: space-between;
    max-width: 1122px;
    margin: 0 auto;
}

.f-col {
    width: 50%;
}

.left-col {
    margin-right: 50px;
}

.left-col h2 {
    color: #E3E3E3;
    line-height: 40px;
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 20px;
}

.f-input {
    width: 100%;
    display: block;
    position: relative;
}

.f-input input {
    width: 100%;
    display: block;
    padding: 16px 30px;
    background: #2C2B2B;
    border: none;
    padding-right: 50px;
    font-size: 15px;
    border-radius: 25px;
    outline: none;
    color: #A7A1A1;
}

.f-input .button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border: none;
    font-size: 18px;
    margin-right: 3px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #FF5A5F;
}

.f-input .button:hover {
    cursor: pointer;
    background-color: #d64246;
}

.right-col {
    margin-left: 50px;
}

.right-col ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-col li {
    width: 50%;
    margin-bottom: 16px;
}

.right-col li a {
    text-decoration: none;
    color: #E3E3E3;
    font-size: 15px;
}

.right-col li a:hover {
    text-decoration: underline red;
    color: red;
}

.footer-copy {
    background-color: #000000;
    color: #E3E3E3;
    padding: 40px 15px;
}

.footer-copy p {
    text-align: center;
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 300;
}
